#counter {
    text-align: center;
    font-size: 3em;
    height: 3em;
    
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 1em;

}
#title {
    
    text-align: center;
    
}